body {
    font-family: 'Rye', sans-serif;
    background-color: #faf3e3; /* Light brown for warmth */
    margin: 0;
    padding: 20px;
}

/* Title and Subtitle */
h1 {
    text-align: center;
    font-family: 'Rye', cursive;
    font-size: 3em;
    color: #500000; /* Texas A&M Maroon */
    margin: 20px 0;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border: 2px solid #500000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #500000;
    border-radius: 10px;
    background-color: #ffe6e1;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}
select:focus {
    border-color: #500000;
    outline: none;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
input[type="text"], input[type="date"], input[type="time"], input[type="file"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #500000;
    border-radius: 10px;
    background-color: #ffe6e1;
    font-size: 16px;
    color: #333;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="file"]:focus {
    border-color: #500000;
    outline: none;
}
input[type="submit"] {
    width: 100%;
    background-color: #500000;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #500000;
}
.output {
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    border: 2px solid #500000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
img {
    max-width: 100%; /* Make sure the image is responsive */
    margin-top: 10px;
    border: 2px solid #500000;
    border-radius: 5px;
}

footer {
    background-color: #500000;
    color: rgba(145, 142, 142, 0.808);
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; /* Ensures the footer starts at the left edge */
    margin: 0; /* No margin around the footer */
}

footer nav {
    display: inline-block;
}

footer nav a {
    font-family: 'Rubik', sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 120px;
    font-weight: 500;
}

footer nav a:hover {
    text-decoration: underline;
}

.convert-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #500000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.convert-btn:hover {
    background-color: #500000;
}