body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #705226; /* Background color */
    font-family: Arial, sans-serif;
}
h1 {
    display: flex;
    align-items: center;
    font-family: 'Rye', cursive;
    font-size: 100px; /* Font size */
    margin-bottom: 20px;
    color: white; /* Text color */
}
.star {
    color: #FDDA0D; /* Star color */
    font-size: 100px; /* Size of stars */
    margin: 0 10px; /* Spacing around stars */
}
img {
    max-width: 1500px; /* Increased image size */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Spacing around the image */
}
button {
    padding: 20px 40px; /* Increased padding for a larger button */
    font-size: 24px; /* Increased font size */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: black; /* Button color */
    color: white; /* Text color */
    font-family: 'Rye', cursive; /* Same font as the title */
}
button:hover {
    background-color: #333; /* Darker shade on hover */
}
