/* Apply Rubik font to the entire body */
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: transparent;
}

/* Container for GIF and Title */
.gif-title-container {
    position: fixed;  /* Keep the GIF and title in a fixed position */
    top: 10px;        /* Distance from the top */
    left: 10px;       /* Distance from the left */
    display: flex;    /* Flexbox to align the GIF and title horizontally */
    align-items: center; /* Vertically center the GIF and title */
    z-index: 1000;    /* Ensure it stays on top of other elements */
}

/* Style for the GIF */
.top-left-gif {
    width: 100px;      /* Adjust the size of the GIF */
    height: auto;     /* Maintain aspect ratio */
    margin-right: 10px; /* Space between GIF and title */
}

/* Style for the title next to the GIF */
.gif-title {
    font-size: 26px;
    font-weight: bold;
    color: #450012; /* Adjust the color to make it visible against the background */
}

/* Footer styling */
footer {
    background-color: #450012;
    color: rgba(145, 142, 142, 0.808);
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; /* Ensures the footer starts at the left edge */
    margin: 0; /* No margin around the footer */
}

footer nav {
    display: inline-block;
}

footer nav a {
    font-family: 'Rubik', sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 220px;
    font-weight: 500;
}

footer nav a:hover {
    text-decoration: underline;
}
